:root {
  --main-green: #1d781d;
  --main-red: #b50000;
  --main-darkgrey: #343a40;
  --main-lightgrey: #dadfe1;
  --main-black: #000000;
  --main-white: #fefefe;
  --acc-darkgreen: #1e824c;
  --acc-lightgreen: #65ff71;
  --acc-pink: #e0437c;
}

@font-face {
  font-family: ravintola;
  src: url(../assets/font/Lato-Black.ttf);
}

@font-face {
  font-family: valikko;
  src: url(../assets/font/Lato-Bold.ttf);
}

@font-face {
  font-family: leipateksti;
  src: url(../assets/font/Lato-Regular.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}

/* Navigation */
nav {
  padding-top: 10px;
  line-height: 50px;
  font-family: valikko;
}
.topnav {
  overflow: hidden;
  background-color: var(--main-white);
}
.topnav a {
  float: left;
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: var(--main-red);
  line-height: 50px;
  margin: 0 20px;
}
.topnav a.active {
  background-color: var(--main-red);
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
}
.topnav a.active:hover {
  color: var(--main-white);
}
.topnav a:hover {
  color: var(--acc-darkgreen);
}
.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  outline: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* Search */
nav ul .search {
  width: 240px;
}

.input-container {
  display: flex;
  width: 240px;
  border: 2px solid var(--main-red);
  border-radius: 5px;
  margin: 7px 0 0 20px;
  background-color: var(--main-white);
}

.icon {
  height: 30px;
  width: 30px;
  text-align: center;
  border: none;
  padding-top: 5px;
  fill: var(--main-red);
}

.input-field {
  height: 30px;
  width: 200px;
  padding: 0 10px;
  border: none;
  outline: none;
}

/* Main content grid */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas:
    "header header"
    "content content";
}

/* Menu grid */

.grid-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: auto;
}

/* Header banner */
.banner {
  margin-top: 20px;
  grid-area: header;
  height: 200px;
  display: flex;
  overflow: hidden;
}

.banner-bg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  padding-right: 200px;
  background-color: var(--main-green);
  clip-path: polygon(0 0, 55% 0, 70% 100%, 0% 100%);
}
.bgimg {
  background-image: url(img/black-frying-pan-with-spaghetti-sauce-near-brown-wooden-691114.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.banner-h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 800;
  font-size: 60px;
  color: var(--main-white);
  letter-spacing: 5px;
}

.banner-p {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 23px;
  color: var(--main-white);
}

/* Description text */

.description {
  font-family: leipateksti;
  font-size: 18px;
  width: 37em;
  margin: 0 auto;
  max-width: 100%;
  line-height: 1.5;
  grid-area: content;
  text-align: center;
  justify-self: center;
}

/* Menu area styles */

.menu-area {
  display: flex;
  align-items: center;
  width: 500px;
  background-color: var(--main-white);
  border: 1px solid var(--main-darkgrey);
  border-radius: 15px;
  margin: 10px auto;
  padding: 15px 15px 15px 15px;
}

.menu li {
  font-family: leipateksti;
  font-size: 10px;
  list-style-type: none;
  padding-bottom: 5px;
}

.menu-logo {
  width: 200px;
  height: 170px;
  border: 1px solid var(--main-black);
  margin-right: 15px;
  background-color: var(--main-white);
}

.menu-logo img {
  width: 100%;
  padding-top: 35%;
}

.location {
  display: flex;
  width: 300px;
}

.location-h4 {
  font-family: ravintola;
  font-size: 21px;
  margin: 5px 15px 15px 0;
}

.location-p {
  font-family: leipateksti;
  font-size: 14px;
  margin-top: 5px;
}

.location-icon {
  height: 30px;
  width: 30px;
  text-align: center;
  border: none;
}

.location-icon:hover {
  fill: var(--acc-darkgreen);
}

.add-restaurant {
  border: 1px dashed var(--main-lightgrey);
  font-family: leipateksti;
  font-size: 10px;
  font-weight: bold;
  color: var(--main-lightgrey);
}

.add-restaurant p {
  margin-left: 10px;
}

.add-icon {
  height: 30px;
  width: 30px;
  text-align: center;
  border: none;
  fill: var(--main-lightgrey);
}

/* Buttons (for javascript task) */

.buttons {
  display: flex;
  justify-content: center;
}

button {
  margin-right: 5px;
}
